$large-width: 1008px;
$medium-width: 640px;

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: Montserrat;
    font-style: bold;
    font-weight: 600;
    font-display: swap;
    src: url('/fonts/Montserrat-SemiBold.ttf');
}

@font-face {
    font-family: Montserrat;
    font-style: light;
    font-weight: 200;
    font-display: swap;
    src: url('/fonts/Montserrat-Light.ttf');
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    line-height: 1.2;
    font-size: 18px;
    font-weight: 400;
    --main-background: #212529;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 500;
    width: 100%;
    margin: 0;
    padding: 0 30px;
    background: #000000;
    box-sizing: border-box;
}

.container {
    max-width: 1600px;
}

.header-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    font-size: 21px;
    box-sizing: border-box;
}

.navigation-logo-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 20px 20px 0;
}

.navigation-logo-wrapper .logo-pokemon-image {
    height: 80px;
    margin-right: 20px;
    object-fit: contain;
}

.navigation-items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 50px;
}

.navigation-item {
    margin: 0;
    padding: 0;
}

.navigation-item .link {
    margin: 0;
    padding: 5px 0;
}

.navigation-item .link:visited,
.navigation-item .link {
    color: #ffffff;
    text-decoration: none;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.navigation-item .social-icon {
    width: 45px;
    height: 45px;
}

.section-header {
    margin: 20px 0;
    padding: 0;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}

@media screen and (max-width: 1500px) {
    .navigation-items {
        gap: 20px;
    }
    .navigation-logo-wrapper {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 1240px) {
    .header-navigation {
        font-size: 18px;
    }

    .navigation-items {
        gap: 15px;
    }
}

@media screen and (max-width: 1120px) {
    .navigation-item {
        display: none;
    }
    .navigation-item.select-language,
    .navigation-item.social-links {
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .header {
        padding: 0 10px;
    }
    .navigation-items {
        gap: 0;
    }
    .navigation-logo-wrapper {
        padding-right: 0;
    }
    .navigation-logo-wrapper .logo-pokemon-image {
        height: 50px;
        margin-right: 5px;
    }
    .burger-menu {
      top: 70px !important;
    }
}